#ifndef XCOMM
#define XCOMM #
#endif

XCOMM ImageMagick Imakefile info.  This contains any special redefinitions.
XCOMM
XCOMM Copyright 1994 E. I. du Pont de Nemours and Company
XCOMM
XCOMM Permission to use, copy, modify, distribute, and sell this software and
XCOMM its documentation for any purpose is hereby granted without fee,
XCOMM provided that the above Copyright notice appear in all copies and that
XCOMM both that Copyright notice and this permission notice appear in
XCOMM supporting documentation, and that the name of E. I. du Pont de Nemours
XCOMM and Company not be used in advertising or publicity pertaining to
XCOMM distribution of the software without specific, written prior
XCOMM permission.  E. I. du Pont de Nemours and Company makes no representations
XCOMM about the suitability of this software for any purpose.  It is provided
XCOMM "as is" without express or implied warranty.
XCOMM
XCOMM E. I. du Pont de Nemours and Company disclaims all warranties with regard
XCOMM to this software, including all implied warranties of merchantability
XCOMM and fitness, in no event shall E. I. du Pont de Nemours and Company be
XCOMM liable for any special, indirect or consequential damages or any
XCOMM damages whatsoever resulting from loss of use, data or profits, whether
XCOMM in an action of contract, negligence or other tortious action, arising
XCOMM out of or in connection with the use or performance of this software.

XCOMM If your system does not have /usr/include/dirent.h, define DIRENT.
XCOMM
XCOMM DIRENT_DEFINES= -DDIRENT=0

XCOMM Set DoSharedLib to HasSharedLibraries to build ImageMagick with shared
XCOMM libraries.
XCOMM
XCOMM #define DoSharedLib  HasSharedLibraries

#define DoSharedLib  No

XCOMM If you have the JPEG, TIFF, or XPM libraries define HasJPEG, HasTIFF, or
XCOMM HasXPM respectively.  Make sure the path names are correct.  See README
XCOMM for more details.
XCOMM
XCOMM #define HasJPEG
XCOMM #define HasTIFF
XCOMM #define HasXPM

#ifdef HasJPEG
JPEG_DEFINES= -DHasJPEG
JPEG_INCLUDES= -I$(TOP)/jpeg
JPEG_LIBRARIES= -L$(TOP)/jpeg -ljpeg
#endif

#ifdef HasTIFF
TIFF_DEFINES= -DHasTIFF
TIFF_INCLUDES= -I$(TOP)/tiff/libtiff
TIFF_LIBRARIES= -L$(TOP)/tiff/libtiff -ltiff
#endif

#ifdef HasXPM
XPM_DEFINES= -DHasXPM
XPM_INCLUDES= -I$(TOP)/xpm
XPM_LIBRARIES= -L$(TOP)/xpm -lXpm
#endif

XCOMM Might need extra libraries for xtp to link correctly.
XCOMM
XCOMM  EXTRA_LOAD_FLAGS= -lnsl

#ifdef HPArchitecture
CCOPTIONS= -Aa
#endif

LOCALDIR= /usr/local/bin
LOCALINC= /usr/local/include
LOCALLIB= $(USRLIBDIR)

MAGICK_INCLUDES= -I$(TOP)/magick
MAGICK_LIBRARIES= -L$(TOP)/magick -lMagick

DEFINES= $(MAGICK_INCLUDES) $(DIRENT_DEFINES) $(JPEG_DEFINES) $(JPEG_INCLUDES)\
  $(TIFF_DEFINES) $(TIFF_INCLUDES) $(XPM_DEFINES) $(XPM_INCLUDES)
LOCAL_LIBRARIES= $(MAGICK_LIBRARIES) $(JPEG_LIBRARIES) $(TIFF_LIBRARIES) \
  $(XPM_LIBRARIES)
REQUIRED_LIBRARIES= $(JPEG_LIBRARIES) $(TIFF_LIBRARIES) $(XPM_LIBRARIES)
